= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  = display_base_errors resource
  
  = f.fields_for :listing do |listing_form|
    %fieldset.sample
      %p.title
        First, add a picture of your best work
      = image_tag('sample-listing-size.png', class: 'sample-listing-size')
      %p
        Upload an image of your work that best represents your primary style. You can always change this image after your listing has been created.
      
      = listing_form.fields_for :portfolio_photos do |pp|
        = pp.input :portfolio_photo, label: 'For best results upload a 900 x 630 JPG or PNG.', hint: 'Don’t have that size? We’ll resize what you have to make sure it fits.', as: :file
        = pp.input :portfolio_photo_cache, as: :hidden
        = pp.input :description, as: :text, hint: 'Example: This is a photo from one of our kitchen redesign projects.', input_html: { maxlength: 255 }, placeholder: 'Describe your portfolio photo'
    
    %fieldset.company-info
      %p.title
        Now, tell us about your business
      
      = listing_form.input :company_name, label: "What's your company name?", hint: "You can use your own name if you don't have a company name.", input_html: {class: 'input-xlarge', maxlength: 255}, placeholder: 'Your Company Inc.'
      = listing_form.input :company_logo_photo, label: 'Upload your company logo (optional)', hint: 'GIF, JPG, or PNG. We’ll resize what you have.<br/>This is shown on your listing page for clients to see.', as: :file

      - if resource.listing.company_logo_photo.present?
        = image_tag(resource.listing.company_logo_photo, class: 'company-logo company_logo_prev')
      = listing_form.input :company_logo_photo_cache, as: :hidden
      
      = listing_form.association :specialties, collection: Specialty.order("name ASC"), label: 'What do you specialize in?', hint: 'You can select up to 2 specialties', input_html: { class: 'chzn-select', 'data-placeholder' => 'Choose up to 2 Specialties' }
      = listing_form.association :city, label: 'Which city or metro area is closest to your company headquarters?', hint: '- If your company has multiple locations, choose the main location.<br/>- If your city is not listed, choose the closest city', collection: City.all(order: 'name'), prompt: 'Please select a city', input_html: { class: 'chzn-select', 'data-placeholder' => 'Choose a City' }
  
    %fieldset.contact-info
      %p.title
        How can clients get in touch?
        
      = listing_form.input :contact_email, label: 'Sales contact email', hint: 'This is how clients will contact you (example: sales@mydomain.com)', input_html: {class: 'input-xlarge', maxlength: 255}, placeholder: 'sales@email.com'
      = listing_form.input :website, label: 'Website URL (optional)', hint: '(example: mydomain.com)', input_html: {class: 'input-xlarge', maxlength: 255}, placeholder: 'http://www.yourwebsite.com'
      = listing_form.input :phone, label: 'Phone Number', placeholder: '555-555-5555', hint: '(example: 555-555-5555)', input_html: {maxlength: 20}
  
  %fieldset.account-info
    %p.title
      Finally, create an account
    
    = f.input :email, label: 'Your email address', hint: "This is how we'll stay in touch (clients don’t see this address).", input_html: {class: 'input-xlarge'}, placeholder: 'example@email.com'
    = f.input :password, hint: "Must be at least 6 characters.", input_html: {class: 'input-xlarge'}
    = f.input :password_confirmation, label: 'Password again', hint: 'Confirm your password by entering it again.', input_html: {class: 'input-xlarge'}

  .form-actions
    %button.btn.btn-primary
      Create Account
    = link_to 'Cancel', root_path, class: 'btn'
