= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  = display_base_errors resource
  
  = f.fields_for :listing do |listing_form|
    %fieldset.sample
      %p.title
        First, add a picture of your best work
      = image_tag('sample-listing-size.png', class: 'sample-listing-size')
      %p
        Upload an image of your work that best represents your primary style. You can always change this image after your card has been created.
      
      = listing_form.input :portfolio_photo, label: 'For best results upload a 900 x 630 JPG or PNG.', hint: 'Don’t have that size? We’ll resize what you have to make sure it fits.', as: :file
      = listing_form.input :portfolio_photo_description, as: :text, hint: 'Example: This is a screenshot from our latest homepage redesign of starbucks.com'
    
    %fieldset.company-info
      %p.title
        Now, tell us about your business
      
      = listing_form.input :company_name, label: "What's your company name?", hint: "You can use your own name if you're a freelancer and don't have a company name.", input_html: {class: 'input-xxlarge'}
      = listing_form.input :company_logo, label: 'Upload your company logo (optional)', hint: 'GIF, JPG, or PNG. We’ll resize what you have.<br/>This is shown on your listing page for clients to see.', as: :file
      = listing_form.input :specialty, label: 'What do you specialize in?', collection: ['Kitchens', 'General Contractor', 'Plumbing', 'Electrical'], prompt: 'Pick your specialty'
      = listing_form.input :budget, label: 'What type of budgets do you normally work with?', collection: ['$3,000 and under', '$3,000-$10,000', '$10,000-$25,000', '$25,000-$50,000', 'Over $50,000'], as: :radio_buttons
      = listing_form.input :city, label: 'Which city or metro area is closest to your company headquarters?', hint: '- If your company has multiple locations, choose the main location.<br/>- If your city is not listed, choose "My city is not listed"', collection: ['Orange', 'Irvine', 'Tustin'], prompt: 'Please select a city'
  
    %fieldset.contact-info
      %p.title
        How can clients get in touch?
        
      = listing_form.input :contact_email, label: 'Sales contact email (optional)', hint: 'This is how clients will contact you (example: sales@mydomain.com)', input_html: {class: 'input-xlarge'}
      = listing_form.input :website, label: 'Website URL', hint: '(example: mydomain.com)', input_html: {class: 'input-xlarge'}
      = listing_form.label :phone_number
      = listing_form.hint '(example: 555-555-5555)'
      = listing_form.input_field :phone_area_code, class: 'span1'
      = listing_form.input_field :phone_exchange, class: 'span1'
      = listing_form.input_field :phone_suffix, class: 'span2'
  
  %fieldset.account-info
    %p.title
      Finally, create an account
    
    = f.input :first_name, label: 'First name', input_html: {class: 'input-xlarge'}
    = f.input :last_name, label: 'Last name', input_html: {class: 'input-xlarge'}
    = f.input :email, label: 'Your email address', hint: "This is how we'll stay in touch (clients don’t see this address).", input_html: {class: 'input-xlarge'}
    = f.input :password, hint: "Must be at least 6 characters.", input_html: {class: 'input-xlarge'}
    = f.input :password_confirmation, label: 'Password again', hint: 'Confirm your password by entering it again.', input_html: {class: 'input-xlarge'}

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    %button{type: 'button', class: 'btn'}
      Cancel
