- content_for :title, "Edit Account"

.edit-account
  %h3
    Your Account

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = f.error_notification
    = display_base_errors resource
  
    = f.input :email, input_html: { autofocus: true }
    = f.input :password, hint: "(leave blank if you don't want to change it)"
    = f.input :password_confirmation
    = f.input :current_password, as: :password
    = f.submit 'Update', class: 'btn btn-primary'
    
    %br
    %br
  
  - if current_user.customer_id.present? && current_user.card_type.present?
    %h3 
      Payment Info
    
    %table.table.table-bordered
      - if current_user.pending_downgrade?
        %caption
          %span
            = "** Your account will be downgraded to a free listing at the end of the pay period (#{next_billing_date}). You can always upgrade back to Premium after that."
      - elsif current_user.current_period_end > Time.now
        %caption
          %span 
            = "You will be billed again on #{next_billing_date}"
      - else
        %caption
          %span 
            You are not being billed
      %thead
        %tr
          %th
            Type
          %th
            Ending
          %th
            Expiration
          %th
          %th
      %tbody
        %tr
          %td
            = current_user.card_type
          %td
            = "****#{current_user.last_4_digits}"
          %td
            = "#{current_user.exp_month}/#{current_user.exp_year}"
          %td
            = form_tag(upgrade_path(current_user), method: :put) do 
              %script.stripe-button{src: 'https://checkout.stripe.com/v2/checkout.js', 'data-key' => ENV["STRIPE_PUBLIC_KEY"], 'data-description' => 'Update Card', 'data-amount' => '0', 'data-panel-label' => 'Update Card', 'data-label' => 'Update Card'}
          - if current_user.premium? && !current_user.pending_downgrade?
            %td
              = button_to "Downgrade to Free Listing", upgrade_path(current_user), :data => { :confirm => "Are you sure that you want to downgrade to a free listing?" }, :method => :delete, class: 'btn btn-danger'
          - elsif current_user.pending_downgrade?
            %td
              = button_to "Pending Downgrade", 'javascript:void(0);', class: 'btn btn-danger disabled'
          - else
            %td
              = button_to "Upgrade to Premium", upgrades_path, :method => :post, class: 'btn btn-success'
  
  %h3
    Cancel my account
  %p
    Unhappy?
    = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn btn-danger'