- content_for :title, "Sign Up"

- listing = resource.listing

.preview
  %span.header
    Your free listing will look like this...
  .listing-container
    %span.company-name
      - if listing.company_name.present?
        = listing.company_name
      - else
        = "Your company name"
    %p
      %span.specialties.text
        - if listing.try(:specialties).try(:present?)
          = specialties(listing)
        - else 
          Specialties
      %br
      %span.location.text
        - if listing.try(:city).try(:name).present?
          = listing.city.name
        - else
          = "Company location"

    - if listing.portfolio_photos.try(:first).try(:portfolio_photo).present?
      - if tmp_photo?(listing)
        %img{src: listing.portfolio_photos.first.portfolio_photo, id: 'img_prev', class: 'portfolio-img'}
      - else
        = image_tag(listing.portfolio_photos.first.portfolio_photo, id: 'img_prev', class: 'portfolio-img')
    - else
      = image_tag('small-listing.png', id: 'img_prev', class: 'portfolio-img')
    %p
      %span.description.text
        - if listing.portfolio_photos.first.description.present?
          = listing.portfolio_photos.first.try(:description)
        - else 
          = "Your image description"

= render 'form'
