.filters
  Showing professionals in
  .dropdown.cities
    = link_to @current_city_slug.humanize.titleize, '#', class: 'city filter dropdown-toggle', 'data-toggle' => 'dropdown', 'data-slug' => @current_city_slug
    %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dropdownMenu'}
      %li
        = link_to 'All Cities', '#', 'data-slug' => 'all-cities'
      - City.order(:name).each do |city|
        %li
          = link_to city.name, '#', 'data-slug' => city.slug
  specializing in 
  .dropdown.specialties
    = link_to  @current_specialty_slug.humanize.titleize, '#', class: 'specialty filter dropdown-toggle', 'data-toggle' => 'dropdown', 'data-slug' => @current_specialty_slug
    %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dropdownMenu'}
      %li
        = link_to 'All Specialties', '#', 'data-slug' => 'all-specialties'
      - Specialty.order(:name).each do |specialty|
        %li
          = link_to specialty.name, '#', 'data-slug' => specialty.slug