= form_for @listing do |f|
  -if @listing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"
      %ul
        - @listing.errors.full_messages.each do |msg|
          %li= msg
  
  %fieldset.sample
    %p.title
      First, add a picture of your best work
    = image_tag('sample-listing-size.png', class: 'sample-listing-size')
    %p
      Upload an image of your work that best represents your primary style. You can always change this image after your card has been created.
    %p
      %strong
        For best results upload a 900 x 630 JPG or PNG.
      %em
        Don’t have that size? We’ll resize what you have to make sure it fits.
    
    = f.label :portfolio_photo_description, 'Describe the image you just added'   
    %span.help-block
      Example: This is a screenshot from our latest homepage redesign of starbucks.com
    = f.text_area :portfolio_photo_description
    
  %fieldset.company-info
    %p.title
      Now, tell us about your business
      
    = f.label :company_name, "What's your company name?"
    %span.help-block
      You can use your own name if you're a freelancer and don't have a company name.
    = f.text_field :company_name
    
  .field
    = f.label :company_logo
    = f.text_field :company_logo
  .field
    = f.label :budget_min
    = f.number_field :budget_min
  .field
    = f.label :budget_max
    = f.number_field :budget_max
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :portfolio_photo
    = f.text_field :portfolio_photo
  .field

  .actions
    = f.submit 'Save'
