- if @listing.premium?  
  .portfolio-photo-forms.clearfix
    - @listing.portfolio_photos.each_with_index do |portfolio_photo, index|  
      = simple_form_for([@listing, portfolio_photo], html: {class: 'premium photos', id: "portfolio_photo_form_#{index}", "data-listing-id" => @listing.id, "data-portfolio-photo-id" => portfolio_photo.id}) do |f|
        .errors
  
        %fieldset{class: "sample sample#{index}"}
          .portfolio_photo_wrapper
            = f.input :portfolio_photo, label: 'For best results upload a 900 x 630 JPG or PNG.', hint: 'We’ll resize what you have to make sure it fits.', as: :file, input_html: {id: "portfolio_photo_#{index}"}
            = f.input :portfolio_photo_cache, as: :hidden, input_html: {id: "portfolio_photo_#{index}_cache"}
            = f.input :description, as: :text, hint: 'Example: This is a photo of our latest hardwood floor installtion', input_html: { maxlength: 255 }, placeholder: 'Describe your portfolio photo', input_html: { id: "portfolio_photo_#{index}_description", disabled: portfolio_photo.persisted? ? false : true}
    
            - if portfolio_photo.portfolio_photo.present?
              = image_tag(portfolio_photo.portfolio_photo_url(:small), class: "portfolio_photo_prev portfolio_photo_#{index}_prev", "data-large-src" => portfolio_photo.portfolio_photo_url(:premium))
            - else
              = image_tag('premium-listing.png', class: "portfolio_photo_prev portfolio_photo_#{index}_prev")
            = link_to 'Delete', [@listing, portfolio_photo], class: "delete #{!portfolio_photo.persisted? || @listing.portfolio_photos.count == 1 ? 'hide':''}"
    

= simple_form_for(@listing, :url => listing_path(@listing), html: {class: @listing.premium? ? 'premium':''}) do |f|
  = f.error_notification
  = display_base_errors @listing
  
  - unless @listing.premium?
    %fieldset.sample
      %p.title
        First, add a picture of your best work
      = image_tag('sample-listing-size.png', class: 'sample-listing-size')
      %p
        Upload an image of your work that best represents your primary style. You can always change this image after your listing has been created.
    
      = f.fields_for :portfolio_photos do |pp|
        = pp.input :portfolio_photo, label: 'For best results upload a 900 x 630 JPG or PNG.', hint: 'Don’t have that size? We’ll resize what you have to make sure it fits.', as: :file
        = pp.input :portfolio_photo_cache, as: :hidden
        = pp.input :description, as: :text, hint: 'Example: This is a photo from one of our kitchen redesign projects.', input_html: { maxlength: 255 }, placeholder: 'Describe your portfolio photo'
  
  %fieldset.company-info
    %p.title
      Now, tell us about your business
    
    = f.input :company_name, label: "What's your company name?", hint: "You can use your own name if you don't have a company name.", input_html: {class: 'input-xlarge', maxlength: 255}, placeholder: 'Your Company Inc.'
    = f.input :company_description, label: "Describe your company's services", hint: 'Enter up to 1000 characters', input_html: { maxlength: 1000 }, placeholder: "Describe your company's services"
    = f.input :company_logo_photo, as: :text, label: 'Upload your company logo (optional)', hint: 'GIF, JPG, or PNG. We’ll resize what you have.<br/>This is shown on your listing page for clients to see.', as: :file
    
    - if @listing.company_logo_photo.present?
      = image_tag(@listing.company_logo_photo, class: 'company-logo company_logo_prev')
    - else
      = image_tag('spacer.gif', class: 'company-logo company_logo_prev')      
    = f.input :company_logo_photo_cache, as: :hidden
    
    = f.association :specialties, collection: Specialty.order("name ASC"), label: 'What do you specialize in?', hint: 'You can select up to 2 specialties', input_html: { class: 'chzn-select', 'data-placeholder' => 'Choose up to 2 Specialties' }
    = f.association :city, label: 'Which city or metro area is closest to your company headquarters?', hint: '- If your company has multiple locations, choose the main location.<br/>- If your city is not listed, choose the closest city', collection: City.all(order: 'name'), prompt: 'Please select a city', input_html: { class: 'chzn-select', 'data-placeholder' => 'Choose a City' }

  %fieldset.contact-info
    %p.title
      How can clients get in touch?
      
    = f.input :contact_email, label: 'Sales contact email', hint: 'This is how clients will contact you (example: sales@mydomain.com)', input_html: {class: 'input-xlarge', maxlength: 255}, placeholder: 'sales@email.com'
    = f.input :website, label: 'Website URL (optional)', hint: '(example: mydomain.com)', input_html: {class: 'input-xlarge', maxlength: 255}, placeholder: 'http://www.yourwebsite.com'
    = f.input :phone, label: 'Phone Number', placeholder: '555-555-5555', hint: '(example: 555-555-5555)', input_html: {maxlength: 20}

  .form-actions
    %button.btn.btn-primary
      Save
    = link_to 'Cancel', :back, class: 'btn'
