%li.listing-container.thumbnail
  = link_to listing.company_name, listing_path(listing), class: 'company-name'
  %p
    %span.specialties.text
      = specialties(listing)
    %br
    %span.location.text
      = listing.city.name
  = link_to listing_path(listing) do
    = image_tag(listing.portfolio_photo)
  %p
    %span.description.text
      = listing.portfolio_photo_description