= link_to truncate(listing.company_name, length: 24), listing_path(listing), class: 'company-name', title: listing.company_name
%p
  %span.specialties.text
    = truncate(specialties(listing), length: 30)
  %br
  %span.location.text
    = listing.city.name
= link_to listing_path(listing) do
  = image_tag(listing.portfolio_photos.first.portfolio_photo_url(:small), class: 'portfolio-img', alt: listing.portfolio_photos.first.description)
%p
  %span.description.text
    = truncate(listing.portfolio_photos.first.description, length: 31)