%header.clearfix
  = link_to truncate(listing.company_name, length: 31), listing_path(listing), class: 'company-name'
  = link_to image_tag(listing.company_logo_photo_url), listing_path(listing), class: 'company-logo pull-right' if listing.company_logo_photo.present?
  %span.specialties.text
    = truncate(specialties(listing), length: 48)
  %span.location.text
    = listing.city.name

- if slideshow?(listing) 
  %ul.bxslider
    - listing.portfolio_photos.each do |photo|
      %li{"data-description" => truncate(photo.description, length: 200)}
        = link_to listing_path(listing) do
          = image_tag photo.portfolio_photo_url(:premium) || 'small-listing.png', class: 'portfolio-img'
- else
  = link_to listing_path(listing) do
    = image_tag listing.portfolio_photos.first.portfolio_photo_url(:premium), class: 'portfolio-img'

%p
  %span.description.text
    = truncate(listing.portfolio_photos.first.description, length: slideshow?(listing) ? 200: 310)
