- content_for :title, "Edit - #{@listing.company_name}"

.preview{class: current_user.premium? ? 'premium' : ''}
  - if current_user.premium?
    %span.header
      Your premium listing will look like this...
      
    .listing-container.premium
      %header.clearfix
        %span.company-name
          = truncate(@listing.company_name, length: 41)
        %span.company-logo.pull-right
          - if @listing.company_logo_photo.present?
            = image_tag(@listing.company_logo_photo, class: 'company-logo company_logo_prev')
          - else
            = image_tag('', class: 'company-logo company_logo_prev')
        %span.specialties.text
          = truncate(specialties(@listing), length: 48)
        %span.location.text
          = @listing.city.name

      %ul.bxslider
        - @listing.portfolio_photos.each do |photo|
          - if photo.persisted?
            %li{"data-description" => truncate(photo.description, length: 200)}
              = image_tag photo.portfolio_photo_url(:premium), class: 'portfolio-img'
      
      %p
        %span.description.text
          = truncate(@listing.portfolio_photos.first.description, length: 310)
  - else 
    %span.header
      Your free listing will look like this...
      
    .listing-container
      %span.company-name
        = truncate(@listing.company_name, length: 24)
      %p
        %span.specialties.text
          = truncate(specialties(@listing), length: 30)
        %br
        %span.location.text
          = @listing.city.name
      - if @listing.portfolio_photos.try(:first).try(:portfolio_photo).present?
        = image_tag(@listing.portfolio_photos.first.portfolio_photo, id: 'img_prev', class: 'portfolio-img')
      - else
        = image_tag('small-listing.png', id: 'img_prev', class: 'portfolio-img')
      %p
        %span.description.text
          = truncate(@listing.portfolio_photos.first.description, length: 65)

= render 'form'