.filters
  Showing all contractors in
  .dropdown
    = link_to 'Orange', '#', class: 'city filter dropdown-toggle', 'data-toggle' => 'dropdown', 'data-trigger' => 'hover'
    %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dropdownMenu'}
      %li
        = link_to 'Irvine', '#'
      %li
        = link_to 'Anaheim', '#'
      %li
        = link_to 'Costa Mesa', '#'
      %li
        = link_to 'Huntington Beach', '#'
  specializing in 
  .dropdown
    = link_to 'Kitchens', '#', class: 'specialty filter dropdown-toggle', 'data-toggle' => 'dropdown', 'data-trigger' => 'hover'
    %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dropdownMenu'}
      %li
        = link_to 'General', '#'
      %li
        = link_to 'Kitchens', '#'
      %li
        = link_to 'Bathrooms', '#'
      %li
        = link_to 'Landscaping', '#'
  who work on projects for 
  .dropdown
    = link_to 'any budget', '#', class: 'budget filter dropdown-toggle', 'data-toggle' => 'dropdown', 'data-trigger' => 'hover'
    %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dropdownMenu'}
      %li
        = link_to 'any budget', '#'
      %li
        = link_to '$3,000 and under', '#'
      %li
        = link_to '$3,000-$10,000', '#'
      %li
        = link_to '$10,000-$25,000', '#'
        
%ul.thumbnails.listings
  = render partial: 'listing', collection: @listings
  
= will_paginate @listings