- unless current_user && current_user.listing == @listing
  %p
    %i.icon-arrow-left
    = link_to 'Back to Listings', :back

.listing-container-xlarge  
  .actions.clearfix
    - if current_user && current_user.listing == @listing
      .edit-listing-btn
        = link_to 'Edit', edit_listing_path(current_user.listing), class: 'btn btn-success pull-right'
    
    - if @listing.claimable?
      .claim-listing-btn
        = link_to 'Claim this listing', claim_listing_path(@listing), class: 'btn btn-success pull-right'
      
    - if can_email?(@listing)
      %span.action.ask-question{"data-toggle" => 'modal', "data-target" => '#contact-modal'}
        %i.icon-question-sign
        Ask this business a question
  
  .pull-right
    - if @listing.company_logo_photo.present?
      - if @listing.website?
        = link_to @listing.website, target: '_blank' do
          = image_tag(@listing.company_logo_photo)
      - else
        = image_tag(@listing.company_logo_photo)
    
  %p.company-name
    = @listing.company_name
  %p.specialties
    %span.label-info
      Specialties:
    %span.value 
      %strong
        = specialties(@listing)
  %p.location 
    %span.label-info
      Headquarted in:
    %span.value
      %strong
        = @listing.city.name
  
  - if @listing.phone?
    %p.phone
      %span.label-info
        Phone Number:
      %span.value
        %strong
          = number_to_phone(@listing.phone, area_code: true)
      
  .description 
    %p
      = simple_format(@listing.company_description)
  
  - if @listing.website?
    %p.website
      %strong
        Website
      %br
      = link_to @listing.website, @listing.website, target: '_blank'

  - if can_email?(@listing)
    %p.contact-us
      %strong
        Contact Us
      %br
      %button.btn.btn-primary{type: 'button', "data-toggle" => 'modal', "data-target" => '#contact-modal'}
        Email

  .portfolio-image.img-polaroid
    = image_tag(@listing.portfolio_photo)
    %p
      = @listing.portfolio_photo_description

  .contact-container
    %p
      Like what you see? Get in touch with
      = @listing.company_name
    
    %ul.links
      - if can_email?(@listing)
        %li
          %button.btn.btn-large.btn-info{type: 'button', "data-toggle" => 'modal', "data-target" => '#contact-modal'}
            Email #{@listing.company_name}
      %li
        = link_to @listing.website
  
    %p.plug
      Be sure to let 'em know OC Homepros sent you.
  
  - if can_email?(@listing)
    #contact-modal.modal.hide.fade
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'}="x"
        %h4
          %span.email-label 
            Email
          = @listing.company_name
      .modal-body
        .success
        = simple_form_for(@question, :url => questions_path(@question)) do |f|
          .errors
          = f.input :sender_email, label: 'Your Email:', input_html: { maxlength: 255, class: 'input-xlarge' }, placeholder: 'your@email.com'
          = f.input :text, as: :text, label: 'Message:', input_html: { maxlength: 1000, rows: 10 }, placeholder: 'Enter up to 1000 characters'
          = f.input :listing_id, as: :hidden
      .modal-footer
        %button.btn{type: 'button', 'data-dismiss' => 'modal'}="Cancel"
        %button.btn.btn-primary{type: 'button'}="Send"
      
    
  