- content_for :title, 'Easily find home improvement professionals in Orange County, CA'

%p
  %i.icon-arrow-left
  = link_to 'Back to Homepage', root_path
    
%p.results-msg
  - if @total > 30
    = "Found #{pluralize(@total, 'company')} whose name matched "
    %strong.query
      = params[:q]
    = " but only showing the first #{@listings.length}"
  - else 
    = "Found #{pluralize(@total, 'company')} whose name matched "
    %strong.query
      = params[:q]

%ul.thumbnails.listings
  - @listings.each do |listing|
    - if listing.premium?
      %li.listing-container.thumbnail.premium
        = render partial: 'listings/premium_listing', locals: { listing: listing }
    - else
      %li.listing-container.thumbnail
        = render partial: 'listings/listing', locals: { listing: listing }