- content_for :title, "Upgrade to Premium - #{current_user.listing.company_name}".html_safe

.upgrade.clearfix
  .copy.clearfix
    %header
      Upgrade to a Premium Listing
    %h4
      Benefits of Premium:
    %ul.benefits
      %li
        Premium listings always appear before any free listings in search results
      %li
        2x larger and stands out more than a free listing
      %li
        Displays up to 6 photos of your past projects with descriptions. These photos show up as a browsable image gallery on the homepage. Free listings allow only 1 photo and don’t have an image gallery.
      %li
        Displays your company logo
      %li
        10x more likely to get qualified leads from prospective clients

    .cost
      $99/month
      %span.text
        * no contracts, cancel anytime

      - if current_user.customer_id.blank?
        = form_tag upgrades_path, id: 'payment-form' do 
          %script.stripe-button{src: 'https://checkout.stripe.com/v2/checkout.js', 'data-key' => ENV["STRIPE_PUBLIC_KEY"], 'data-description' => 'Upgrade to Premium', 'data-label' => 'Upgrade to Premium', 'data-amount' => '9900'}
      - else
        = button_to "Upgrade to Premium", upgrades_path, :method => :post, class: 'btn btn-primary btn-large btn-block' 

      = link_to 'Not Now', listing_path(current_user.listing), class: 'not-now'
    
  .previews.clearfix
    .preview.free
      %h4
        This is your free listing
      .listing-container
        = render partial: 'listings/listing', locals: { listing: current_user.listing }
      
    .transform-arrow
      %i.icon-share-alt.icon-large
    
    .preview.premium
      %h4
        Your premium listing will look like this
      .listing-container.premium
        = render partial: 'listings/premium_listing', locals: { listing: current_user.listing, upgrade: true }

