!!!
%html
  %head
    %title="OC Homepros Beta"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        = link_to 'OC Homepros', root_path, class: "brand"
        .pull-right
          = link_to 'Get Listed Today', new_user_registration_path, class: "btn btn-success"
    .container 
      = render 'shared/flash_messages', flash: flash
      = yield
